<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hn.edu.ujcv.pdm_2021_ii_p3_proyecto3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM_2021_II_P3_PROYECTO3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddressActivity"
            android:exported="true" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".BottomSheetRateFood" />
        <activity android:name=".test.ConnectionActivity" />
        <activity android:name=".ConfirmPaymentActivity" />
        <activity android:name=".CreditCardFormActivity" />
        <activity android:name=".PaymentMethodsActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".restaurants.restaurantsproducts.ProductsActivity" />
        <activity android:name=".products.ProductsTechActivity" />
        <activity android:name=".restaurants.RestaurantActivity" />
        <activity android:name=".bakery.BakeryActivity" />
        <activity android:name=".bakery.bakeryproducts.ProductsBakeryBasiliosActivity" />
        <activity android:name=".forhome.ForhomeActivity" />
        <activity android:name=".tech.TechActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
    </application>

</manifest>